[*.cs]

# IDE0290: Use primary constructor
dotnet_diagnostic.IDE0290.severity = none

# IDE0028: Simplify collection initialization
dotnet_diagnostic.IDE0028.severity = none

# IDE2001: Embedded statements must be on their own line
dotnet_diagnostic.IDE2001.severity = none
